---
import BaseLayout from "./BaseLayout.astro";

interface Props {
  title?: string;
  subtitle?: string;
  description?: string;
}

const { title, subtitle, description } = Astro.props;
---
<BaseLayout title={title} description={description ?? subtitle}>
  <section class="markdown">
    {title && <h2>{title}</h2>}
    {subtitle && <p><em>{subtitle}</em></p>}
    <div class="markdown-body">
      <slot />
    </div>
  </section>
</BaseLayout>
